<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <app-root></app-root>

    <script src="~/ClienteApp/dist/polyfills.js"></script>
    <script src="~/ClienteApp/dist/runtime.js"></script>
    <script src="~/ClienteApp/dist/styles.js"></script>
    <script src="~/ClienteApp/dist/vendor.js"></script>
    <script src="~/ClienteApp/dist/main.js"></script>
   


</body>
</html>